
.sessionTitle{
    font-size: 3em;
    margin: initial;
    padding: 0px 0px 20px 0px;
}
.optionsWrapper, .sessionSpecs{
    width: 100%;
    align-self: end;
}
.optionsWrapper p{
    max-width: 850px;
}
.sessionSpecs p{
    display: inline-block;
    text-align: left;
    width: 20%;
    padding: 10px 0px 10px 0px;
    margin: 2px;
}   
.grid{
    display: inline-block;
}
.grid{
    width: 100%;
    order: 2;
    text-align: right;
}
.sessionContentTop{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px 50px 0px
    /* align-items: center;     */
    /* height: 450px; */
}
.sessionArt img{
    width: 250px;
    /* min-width: 150px; */
}
.sessionOptions{
    order: 2;
    width: 65%;
    display: flex;
    flex-flow: column wrap;
}
.mintButton{
    margin: auto;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 2em;
    font-family: 'Orbitron';
}
/* .sessionArt img{
    width: 250px;
    min-width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
} */
.sessionArt{
    order: 1;
    width: 250px; 
    height: 250px;
    margin-right: 50px;   
    background: black;
    /* width: 25%; */
}
.sessionAddLoop{
    order: 2;
    width: 50%;
    position: relative;
    text-align: center;
}
.sessionNeedsWrapper p{
    display: inline-block;
    text-align: center;
    width: 20%;
    background: rgb(114 19 255);
    padding: 8px;
    margin: 0px 5px 0px 0px;
    font-family: 'Beary';
}
.sessionNeedsWrapper{
    order: 3;
    align-self: center;
    flex-grow: 4;
    width: 100%;
}

.sessinoButtonWrapepr{
    height: 125px;
}

.createSessionButton{
    width: 5em;
}
@media (max-width: 600px) {
    .sessionSpecs{
        height: auto;
    }    
    .sessionOptions,.sessionSpecs{
        flex-direction: column;
    }
    .sessionOptions{
        width: 100%;
    }
    .sessionArt{
        width: 100%;
        max-width: 250px;
        margin: 0px 0px 35px 0px;
    }
    
    
}    