  .loginContainer {
    margin: 0 auto;
  }

  .ghost-input {
    display: block;
    font-weight:300;
    width: 100%;
    font-size: 25px;
    border:0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    background: #16161a;
    font-family: Open Sans,Verdana;
    padding: 10px 15px;
    margin: 30px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .ghost-input:focus {
    border-bottom:1px solid #ddd;
  }
  .ghost-button {
    background-color: transparent;
    border:2px solid #ddd;
    color: #ddd;
    padding:10px 30px; 
    min-width: 150px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .ghost-button:hover {
    border:2px solid #515151;
  }
  .metamaskSignIn{
    color: #ffffff;
    padding: 20px 0px 20px 0px;
    width: 150px;
    transition: all 0.1s ease-in-out;
    text-align: left;
    font-size: 2em;
  }
  .metamaskSignIn button{
    background: black;
    border: 0px;
    font-family: 'Beary';
    font-size: 1em;
}
