.image-upload {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .image-upload>label {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .image-upload>input {
      display: none;
      font-family: 'Beary';
    }