.container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }
.profileNavigation p{
  font-family: 'Beary';
}
.profileNavigation{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.profile-route-container{
  width: 85%;
}
.leftSideBar {
  padding-top: 40px;
}

.profilePicture {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.mainContentArea {
  padding: 40px;
  max-width: 850px;
}

.bio {
  
  padding-bottom: 40px;

}

.profileOptions {
  width: 100%;
  height: 100px;
  background-color: #72757e;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.profileButton {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: black;
  color: white;
}

.componentArea {
  width: 100%;
}

.specs button{
  border-radius: 0px;
  padding: 10px;
  border: 0px;
  font-family: 'Beary';
  color: #260f0f;
}



@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .specs button{
    margin-top: 35px;
  }
  .specs{
    text-align: center;
  }
}  