@font-face{
    font-family: Beary;
    src: url("../../assets/fonts/Beary-K7q4y.ttf")
}
@font-face{
    font-family: Zombie;
    src: url("../../assets/fonts/Zombies.ttf")
}
@font-face{
    font-family: Street;
    src: url("../../assets/fonts/street.otf")
}
.app-wrapper{
    background: #191919;  /* fallback for old browsers */
}
