
.intro{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}
.element{
    flex-grow: 2;
    font-family: Beary;
}
.right{
    text-align: center;
    color: #ffffff;
    align-items: center;
    height: 375px;
    overflow: hidden;
    background: #16161a;
}
.textAnimation{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;    
}
.textAnimation .animationwrapper h2{
    font-family: "Zombie";
    font-size: 2em;
    letter-spacing: 15px;
}
.textAnimation .animationwrapper{
    position: relative;
    text-align: left;
    left: 0;
    right: 0;
    font-size: 12px;
    width: 250px;
    margin: auto;
    top: 45%;
    height: 5px;
    background: violet;
}
.text-transition{
    margin-top: -35px;
}
.left{
    min-width: 400px;
    height: 375px;

}
.illustrationWrapper{
    position: relative;
    width: 50%;
    height: 100%;    
}
.padIntroContainer,.illustrationWrapper{
    display: inline-block;
}
.padIntroContainer{
    width: 50%;
    display: inline-block;
    position: relative;
    height: 100%;
    background: silver;
}
.padIntroContainer .record{
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 17%;
    width: 90%;
    max-width: 270px;
    margin: auto;
}
.collaType{
    height: 33.3%;
    position: relative;
    text-align: center;
    background: #16161a;
    width: 100%;
    z-index: 2;
}
.nameOfInstrument{
    position: absolute;
    bottom: 0;
    top: 20px;
    color: #ffffff;
    width: 100%;
}
.arrow{
    position: absolute;
}
.purple{
    z-index: 1;
    left: 40%;
    top: 250px;
}
.green{
    left: 40%;
    top: 45px;
    z-index: 1;
}
.pink{
    z-index: 1;
    left: 30%;
    top: 170px;
}
.about{
    width: 100%;
    background: #fff;
    color: #000000;
    padding: 15px 25px 15px 25px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    overflow: hidden;
}
.imageHomeContainer img{
    width: 100%;
}
.imageHomeContainer{
    width: 25%;
    max-width: 350px;
    min-width: 180px;
    display: inline-block;
}
.aboutTextHomeContainer{
    width: 50%;
    padding: 0px 20px 0px 0px;
}
@media (max-width: 1125px) {
    .pink{      
        left: 80px;
    }
    .right{
        width: 100%;
    }
    .animationwrapper{    
        width: 100%;
    }
    
}    
/* #spin {
    color:red;
  }

\  #spin:after {
    content:"";
    animation: spin 5s linear infinite;
  }

  @keyframes spin {

    0% { content:"collaborate"; }
    10% { content:"innovate"; }
    20% { content:"chop it up"; }
    50% { content: "or"; }
    90% { content: "pitch it down"; } */
