.header{
    overflow: hidden;
    color: #ffffff;
    padding: 20px 15px 50px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: Beary; 
    position: relative;
}
.logoWrapper h1{
    font-size: 4.5em;
    font-family: 'Zombie';
    display: inline-block;
    max-width: 600px;
}
.logoWrapper, .buttonWrapepr{
    flex-grow: 2;
    z-index: 1;
}

.createButton{
    width: 4em;
    margin-right: 10px;
}
.buttonWrapepr{
    text-align: right;
}

.artBackground{
    background: url("./art.jpeg");
    filter: opacity(0.5);
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;    
    z-index: 0;
}

@media (max-width: 600px) {
    .logoWrapper, .buttonWrapepr{
        flex-grow: unset;
    }
    .header{
        flex-direction: column;
    }
    
}    